
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetStartedPage</title>
    <link href="/Content/MyStyle.css" rel="stylesheet" type="text/css" media="all">
</head>
<style>
    div.relative {     
        position: absolute;
        left: 1000px;
        top: 650px;
    }
</style>
<body>
    <div class="relative">
        <a href="/Home/StartupSelectionPage" class="button">Get Started</a>
    </div>
</body>
</html>
