
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SettingsPage</title>
    <link href="/Content/SettingsStyle.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div>
        <div class="settings">
            <h1 style="color:aliceblue">SETTINGS</h1>
        </div>
        <div class="center">
            <a href="/Settings/ChangeName" class="button">Change Name</a>
        </div>
        <div class="center1">
            <a href="/Settings/ChangeEmail" class="button">Change Email</a>
        </div>
        <div class="center2">
            <a href="/Settings/ChangePassword" class="button">Change Password</a>
        </div>
    </div>
</body>
</html>
