
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SettingsPage</title>
    <link href="/Content/SettingsStyle.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div>
        <div class="settings">
            <h1 style="color:aliceblue">SETTINGS</h1>
        </div>
        <div class="center">
            <input type="submit" value="    Change Name    " name="Confirm">
        </div>
        <div class="center1">
            <input type="submit" value="   Change Email     " name="Confirm">
        </div>
        <div class="center2">
            <input type="submit" value="Change Password" name="Confirm">
        </div>
    </div>
</body>
</html>
