


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StartupSelectionPage</title>
    <link href="/Content/StartUpSellection.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <div>

        <div>
            <a href="/GirisYap/Login" class="BtnLogin">Login</a>
        </div>
        <div>
            <a href="/Rules/RulesIndex" class="BtnRules">Rules</a>
        </div>
        <div>
            <a href="/GirisYap/RiskFreeLogin" class="BtnStartRiskFree">Start Risk-Free</a>
        </div>

    </div>
</body>
</html>