
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tamamlanmamış Ekran</title>
</head>
<style>
    body {
        background-image: url("../images/KartliBg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .center {
        margin: 0;
        position: absolute;
        top: 400px;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>
<body>
    <div>
        <h1 class="center" style="color:azure">BU SAYFANI KODLAMALARI DEVAM ETMEKTEDİR LÜTFEN TAKİPTE KALIN :)</h1>
    </div>
</body>
</html>
