@model At_Yarisi.Models.siniflar.Members

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetMain</title>
    <link href="~/Content/MainMenuStyle.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div>
        <div class="kural3">
            <h1 style="color:whitesmoke;">
                Welcome Back Dear @Session["UserName"]
            </h1>   
  
        </div>
        <div class="kural1">
            <h3 style="color:whitesmoke;">
                Your Money: @Session["TL"]
            </h3>
            <h3 style="color:whitesmoke;">
                Your Chip : @Session["Chip"]
            </h3>
        </div>
        <div>
            <a href="/Race/Race" class="Btn1">Race</a>
        </div>
        <div>
            <a href="/Wallet/WalletMenu" class="Btn2">Wallet</a>
        </div>
        <div>
            <a href="/Race/PastRacesPage/@Session["UserId"]" class="Btn3">Past Races</a>
        </div>
        <div>
            <a href="/Home/SettingsPage" class="Btn4">Settings</a>
        </div>
        <div>
            <a href="/Home/ContactPage" class="Btn5">Contact</a>
        </div>
    </div>
</body>
</html>