@model At_Yarisi.Models.siniflar.Members

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetMain</title>
    <link href="~/Content/MainMenuStyle.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div>
        <div class="kural3">
            <h1 style="color:whitesmoke;">
                MAIN MENU
            </h1>
        </div>
        <div class="kural1">
            <h2 style="color:whitesmoke;">
                WELCOME BACK
            </h2>
            <h2 style="color:whitesmoke;">
               @Model.Email 
            </h2>
        </div>
        <div>
            <a href="" class="Btn1">Race</a>
        </div>
        <div>
            <a href="/Wallet/WalletMenu" class="Btn2">Wallet</a>
        </div>
        <div>
            <a href="" class="Btn3">Past Races</a>
        </div>
        <div>
            <a href="" class="Btn4">Settings</a>
        </div>
        <div>
            <a href="" class="Btn5">Report</a>
        </div>
    </div>
</body>
</html>