body {
    background-image: url("../images/MainMenuWithRace.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    background-color: #808080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: 600px;
    border: 600px;
}
.Btn1 {
    position: absolute;
    left: 0%;
    top: 25%;
    background-color: #000000;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 600px;
}

.Btn2 {
    position: absolute;
    left: 0%;
    top: 35%;
    background-color: #000000;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 600px;
}

.Btn3 {
    position: absolute;
    left: 0%;
    top: 45%;
    background-color: #000000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 600px;
}
.Btn4 {
    position: absolute;
    left: 0%;
    top: 55%;
    background-color: #000000;
    color: white;
    padding: 15px 41px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 600px;
}

.Btn5 {
    position: absolute;
    left: 0%;
    top: 65%;
    background-color: #000000;
    color: white;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 600px;
}
.kural1 {
    margin-top: 1%;
    margin-left: 1%;
    width: 50%;
    padding: 0px;
}
.kural2 {
    margin-top: 0%;
    margin-left: 60%;
    width: 50%;
    padding: 0px;
}

.kural3 {
    margin-left: 1%;
    width: 50%;
    padding: 0px;
}
