body {
    background-image: url("../images/AnaMenuBg2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    background-color: #808080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: 600px;
    border: 600px;
}
.Btn1 {
    position: absolute;
    left: 0px;
    top: 190px;
    background-color: #000000;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 600px;
}

.Btn2 {
    position: absolute;
    left: 0px;
    top: 270px;
    background-color: #000000;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 600px;
}

.Btn3 {
    position: absolute;
    left: 0px;
    top: 350px;
    background-color: #000000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 600px;
}
.Btn4 {
    position: absolute;
    left: 0px;
    top: 430px;
    background-color: #000000;
    color: white;
    padding: 15px 41px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 600px;
}

.Btn5 {
    position: absolute;
    left: 0px;
    top: 510px;
    background-color: #000000;
    color: white;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 600px;
}
.kural1 {
    margin-top: 1px;
    margin-left: 10px;
    width: 50%;
    padding: 0px;
}
.kural2 {
    margin-top: 0px;
    margin-left: 650px;
    width: 50%;
    padding: 0px;
}

.kural3 {
    margin-left: 700px;
    width: 50%;
    padding: 0px;
}
