body {
    /*background-image: url("../images/KartliBg.png");*/
    background-image: url("../images/ReadyForWinCold.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.button {
    background-color: darkslategrey;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: 600px;
    border: 600px;
}

.center {
    margin: 0;
    position: absolute;
    top: 0px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center2 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.kural1 {
    margin-top: 170px;
    margin-left: 30%;
    width: 50%;
    padding: 0px;
}

.kural2 {
    margin-top: 40px;
    margin-left: 45%;
    width: 50%;
    padding: 0px;
}

.kural {
    background-color: #151617;
    bac margin-top: 0px;
    margin-left: 25%;
    width: 50%;
    padding: 0px;
}

.a1 {
    margin-left: 100px;
}

.a2 {
    margin-left: 60px;
}

.a3 {
    margin-left: 60px;
}