body {
    background-image: url("../images/Rules1512x982.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.kural1 {
    margin-top: 9%;
    margin-left: 25%;
    width: 50%;
    padding: 0px;
}

.kural {
    margin-top: 0%;
    margin-left: 25%;
    width: 50%;
    padding: 0px;
}

.paragraf {
    left: 360px;
    top: 650px;
    color: aliceblue;
}
