body {
    background-image: url("../images/KartliBg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.chip {
    margin-top: 5%;
    margin-left: 40%;
    width: 50%;
    padding: 0px;
}
.Wallet {
    margin-top: 1%;
    margin-left: 45%;
    width: 50%;
    padding: 0px;
}
.Btn1 {
    position: absolute;
    left: 30%;
    top: 41%;
    background-color: #000000;
    color: white;
    padding: 1% 18%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 600px;
}

.Btn2 {
    position: absolute;
    left: 30%;
    top: 51%;
    background-color: #000000;
    color: white;
    padding: 1% 17%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 600px;
}

.Btn3 {
    position: absolute;
    left: 30%;
    top: 61%;
    background-color: #000000;
    color: white;
    padding: 1% 16%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 600px;
}

.Btn4 {
    position: absolute;
    left: 30%;
    top: 71%;
    background-color: #000000;
    color: white;
    padding: 1% 14%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 600px;
}

