body {
    background-image: url("../images/KartliBg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
input[type="input1"] {
    width: 15%;
    padding: 1% 0% 1% 1%;
    border: 1px solid #fff;
    outline: none;
    font-size: 14px;
    color: #fff;
    margin-top: 0%;
    margin-left: 29%;
    font-family: 'Roboto', sans-serif;
    background: url("") no-repeat 10px 11px;
    background-size: 24px;
    text-align: left;
}
input[type="input2"] {
    width: 20%;
    padding: 1% 0% 1% 1%;
    border: 1px solid #fff;
    outline: none;
    font-size: 14px;
    color: #fff;
    margin-top: 40px;
    margin-left: 29%;
    font-family: 'Roboto', sans-serif;
    background: url("") no-repeat 10px 11px;
    background-size: 24px;
    text-align: left;
}

input[type="input3"] {
    width: 8%;
    padding: 1% 0% 1% 1%;
    border: 1px solid #fff;
    outline: none;
    font-size: 14px;
    color: #fff;
    margin-top: 0%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;
    background: url("") no-repeat 10px 11px;
    background-size: 24px;
    text-align: left;
}

input[type="input4"] {
    width: 8%;
    padding: 1% 0% 1% 1%;
    border: 1px solid #fff;
    outline: none;
    font-size: 14px;
    color: #fff;
    margin-top: 0px;
    margin-left: 29%;
    font-family: 'Roboto', sans-serif;
    background: url("") no-repeat 10px 11px;
    background-size: 24px;
    text-align: center;
}

input[type="input5"] {
    width: 8%;
    padding: 1% 0% 1% 1%;
    border: 1px solid #fff;
    outline: none;
    font-size: 14px;
    color: #fff;
    margin-top: 0%;
    margin-left: 0%;
    font-family: 'Roboto', sans-serif;
    background: url("") no-repeat 10px 11px;
    background-size: 24px;
    text-align: center;
}

.title {
    margin-top: 12%;
    margin-left: 40%;
    width: 50%;
    padding: 0px;   
}

.validationDate {
    color: whitesmoke;
    margin-top: 2%;
    margin-left: 29%;
    width: 50%;
    padding: 0px;
}

input[type="submit"] {
    margin-top: 0px;
    margin-left: 8%;
    padding: 12px 38px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #009864;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
   
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

    input[type="submit"]:hover {
        background: rgba(213, 38, 133, 0.64);
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

.boarder {
    border: 1px solid #fff;
}


.baslik {
    margin-top: 230px;
    margin-left: 620px;
    width: 50%;
    padding: 0px;
}



input[type="submits"] {
    margin-top: 0px;
    margin-left: 70px;
    padding: 12px 38px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #009864;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

    input[type="submits"]:hover {
        background: rgba(213, 38, 133, 0.64);
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

