
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddMoney</title>
    <link href="~/Content/EmptyStyle.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div>
        <!--header-->
        <div class="agileheader">
            <h1>Add Money</h1>
        </div>
        <!--//header-->
        <!--main-->
        <div class="main-w3l">
            <div class="w3layouts-main">
                <h2>Please enter the amount you want to transform from TL to Chip</h2>
                <h3 style="color:red;"> Warning : 10 CHIP equals 1 TL</h3>
                <form action="#" method="post">

                    <input value="Amount of TL" name="" type="empty" required="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Amount of TL';}" />

                    <input type="submit" value="Transform" name="Finish">
                </form>

            </div>
        </div>
        <!--//main-->
        <!--footer-->
        <div class="footer-w3l">
            <p>&copy; 2022 Inside Track Login Form. All rights reserved |</p>
        </div>
        <!--//footer-->

    </div>
</body>
</html>
