
@{
    Layout = null;
}

    <!DOCTYPE html>


    <html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>AddPaymentMethod</title>
        <link href="/Content/WalletGeneralStyle.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <form action="/Wallet/AddPaymentMethod" method="post">
            <div>
                <input type="hidden" id="custId" name="MemberId" value="@Session["UserId"]">
                <div class="title">
                    <h1 style="color:whitesmoke;">
                        Add Payment Method
                    </h1>
                </div>
                <div>
                    <input placeholder="User Name" name="UserName" type="input1"/>
                </div>
                <div>
                    <input placeholder="Card Number" name="CardNumber" type="input2"/>
                    <input placeholder="Secrity Code" name="SecurityCode" type="input3" />
                </div>
                <div>
                    <h3 class="validationDate">
                        Validation Date
                    </h3>
                    <input placeholder="Month" name="Month" type="input4" />
                    <input placeholder="Year" name="Year" type="input5" />
                    <input type="submit" value="Confirm">
                </div>
            </div>
        </form>
    </body>
</html>


