
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete&ChangePaymentMethod</title>
    <link href="/Content/WalletGeneralStyle.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div>
        <div class="baslik">
            <h1 style="color:whitesmoke;">
                Delete & Change Payment Method
            </h1>
        </div>
        <div>
            <input value="User Name" name="" type="input1" required="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Name';}" />
        </div>
        <div>
            <input value="Card Number" name="" type="input2" required="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Card Number';}" />
            <input value="Security Code" name="" type="input3" required="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Security Code';}" />
        </div>
        <div>
            <h3 class="validationDate">
                Validation Date
            </h3>
            <input value="Month" name="" type="input4" required="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Month';}" />
            <input value="Year" name="" type="input5" required="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Year';}" />
            <input type="submit" value="Delete & Change" name="Confirm">
        </div>
    </div>
</body>
</html>
