
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WalletMenu</title>
    <link href="/Content/WalletStyle.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div >
        <div class="Wallet">
            <h1 style="color:whitesmoke;">
               WALLET
            </h1>
        </div>
        <div class="chip">
            <h2 style="color:whitesmoke;">
                CHIP : ...
            </h2>
            <h2 style="color:whitesmoke;">
                MONEY : ...
            </h2>

        </div>
        <div>
            <a href="/Wallet/AddMoney" class="Btn1">Add Money</a>
        </div>
        <div>
            <a href="/Wallet/WithdrawYourMoney" class="Btn2">Withdraw Money</a>
        </div>
        <div>
            <a href="/Wallet/AddPaymentMethod" class="Btn3">Add Payment Method</a>
        </div>
        <div class="center">
            <!--<a href="/Wallet/DeleteChangePaymentMethod" class="Btn4">Delete/Change Payment Method</a>-->
            <a href="/Wallet/DeletePaymentMethod/@Session["UserId"]"class="Btn4">Delete/Change Payment Method</a>
        </div>
    </div>
</body>
</html>
