
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WithdrawYourMoney</title>
    <link href="~/Content/WithdrawStyle.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
     <div>
        <div class="title">
            <h1 style="color:whitesmoke;">
                Withdraw Your Money
            </h1>
        </div>
        <div class="title2">
            <p style="color:whitesmoke;">
                Select the amount you wish to withdraw from your account
            </p>
        </div>
        <div class="inputPadding">
            <input type="submit" value="  50 Chip   " name="Confirm">
            <input type="submit" value="  500 Chip  " name="Confirm">
            <input type="submit" value="  5000 Chip " name="Confirm">
        </div>
        <div class="inputPadding">
            <input type="submit" value="  100Chip   " name="Confirm">
            <input type="submit" value=" 1000 Chip " name="Confirm">
            <input type="submit" value="10.000 Chip" name="Confirm">
        </div>
        <div class="inputPadding">
            <input type="submit" value="  250 Chip  " name="Confirm">
            <input type="submit" value=" 2500 Chip " name="Confirm">
            <input type="submit" value=" Max Chip  " name="Confirm">
        </div>

    </div>
</body>
</html>
