
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainMenuPage</title>
    <link href="/Content/MainMenuStyle.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div class="kural1">
        <h2 style="color:whitesmoke;">
            User Name :
        </h2>
        <h2 style="color:whitesmoke;">
            Chip :
        </h2>
    </div>
    
    <div>
        <a href="" class="Btn1">Race</a>
    </div>
    <div>
        <a href="" class="Btn2">Wallet</a>
    </div>
    <div>
        <a href="" class="Btn3">Past Races</a>
    </div>
    <div>
        <a href="" class="Btn4">Settings</a>
    </div>
    <div>
        <a href="" class="Btn5">Report</a>
    </div>
</body>
</html>
