@model IEnumerable<At_Yarisi.Models.siniflar.Rules>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RulesIndex</title>
    <link href="/Content/RulesStyle.css" rel="stylesheet" type="text/css" media="all">
</head>
<style>
    .button {
        background-color: darkslategrey;
        border: none;
        color: white;
        padding: 15px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        left: 600px;
        border: 600px;
    }


    .center {
        margin: 0;
        position: absolute;
        top: 650px;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        
    }
</style>
<body>

    <table class="table">

        <div class="kural1">
            @foreach (var item in Model)
            {
            <tr>
                <div class="kural">

                    <h2 style="color:yellow;">
                        @Html.DisplayFor(modelItem => item.RuleTitle)
                    </h2>
                    <p class="paragraf">
                        @Html.DisplayFor(modelItem => item.Rule)
                    </p>

                </div>

            </tr>
            }
        </div>
        
        <div class="center">
                <a href="/Home/StartupSelectionPage" class="button">Close</a>
        </div>

        </table>
    </body>
</html>
