
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AtYarisi</title>
    <link href="/Content/HorseRaceStyle.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div>
        <div class="field">
            <div id="div1"><img src="http://gifs.hurgon.fr/images/ani_ferme/chevaux/cheval_040.gif"></div>
            <div id="div2"><img src="http://gifs.hurgon.fr/images/ani_ferme/chevaux/cheval_040.gif"></div>
            <div id="div3"><img src="http://gifs.hurgon.fr/images/ani_ferme/chevaux/cheval_040.gif"></div>
            <div id="div4"><img src="http://gifs.hurgon.fr/images/ani_ferme/chevaux/cheval_040.gif"></div>
        </div>
        <!--<input type="button" value="RACE ON" onClick="window.location.href=window.location.href">-->
    </div>
</body>
</html>
