@model IEnumerable<At_Yarisi.Models.siniflar.Bets>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PastRacesPage</title>
    <link href="/Content/PastRacesStyle.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>

    <table class="table">

        <div class="kural1">
            <h1 style="color:aliceblue">Your Last 5 Race : </h1>

            @foreach (var item in Model)
            {
            <tr>
                
                <div class="kural">
                    <hr />
                    <a class="a1" style="color:yellow;">
                        Your Bet : @Html.DisplayFor(modelItem => item.AmountOfBet) Chip
                    </a>
                    <a class="a2" style="color:yellow;">
                        Your Chip After Race : @Html.DisplayFor(modelItem => item.TotalAmount) Chip
                    </a>
                    <a class="a3" style="color:yellow;">
                        The Horse : Number @Html.DisplayFor(modelItem => item.HorseId)
                    </a>
                    <hr />
                </div>
            </tr>
             }
            </div>

            <div class="center">
                <a href="/GirisYap/SetMain" class="button">Close</a>
            </div>
        </table>
    </body>
</html>
