
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Race</title>
    <link href="/Content/RaceStyle.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <div>


        <div style="width: 100%; display: table;">
            <div style="display: table-row">
                <div style="width: 900px; display: table-cell;">
                    <div class="inputPadding1">
                        <!--<button class="buttonDeneme"><h3>Jokey 1</h3>0/</button>-->
                        <input type="submit" value="Jockey 1    0/10" name="Confirm">
                        <button class="button button1">1</button>
                    </div>
                    <div class="inputPadding">
                        <input type="submit" value="Jockey 2    0/10" name="Confirm">
                        <button class="button button2">2</button>
                    </div>
                    <div class="inputPadding">
                        <input type="submit" value="Jockey 3    0/10" name="Confirm">
                        <button class="button button3">3</button>
                    </div>
                    <div class="inputPadding">
                        <input type="submit" value="Jockey 4    0/10" name="Confirm">
                        <button class="button button4">4</button>
                    </div>
                    <div class="inputPadding">
                        <input type="submit" value="Jockey 5    0/10" name="Confirm">
                        <button class="button button5">5</button>
                    </div>
                    <div class="inputPadding">
                        <input type="submit" value="Jockey 6    0/10" name="Confirm">
                        <button class="button button6">6</button>
                    </div>
                </div>
                <div style="display: table-cell;">
                    <div class="CountDownTimer">
                        <h3 style="color:white;">Event Starts In</h3>
                        <h1 style="color:white;">00:14</h1>
                    </div>
                    <div class="chosenJokey">
                        <input type="submit" value="Jockey 0   0/10" name="Confirm">
                        <button class="button button6">0</button>
                    </div>
                    <!--PLACING BET SECTION-->
                    <div class="inputConfirmPadding1">
                       
                    </div>
                    <!--PLACİNG BET SECTION END-->


                    <div class="inputConfirmPadding">
                        <input type="submit" value="Place Bet" name="Confirm">
                    </div>
                    <div class="inputConfirmPadding1">
                        <input type="submit" value="Cancel" name="Confirm">
                    </div>

                </div>

            </div>
        </div>

    </div>
</body>
</html>



