
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Race</title>
    <link href="/Content/RaceStyle.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <div>
        <div class="inputPadding1">
            <!--<button class="buttonDeneme"><h3>Jokey 1</h3>0/</button>-->
            <input type="submit" value="Jokey 1    0/10" name="Confirm">
            <button class="button button1">1</button>
        </div>
        <div class="inputPadding">
            <input type="submit" value="Jokey 2    0/10" name="Confirm">
            <button class="button button2">2</button>
        </div>
        <div class="inputPadding">
            <input type="submit" value="Jokey 3    0/10" name="Confirm">
            <button class="button button3">3</button>
        </div>
        <div class="inputPadding">
            <input type="submit" value="Jokey 4    0/10" name="Confirm">
            <button class="button button4">4</button>
        </div>
        <div class="inputPadding">
            <input type="submit" value="Jokey 5    0/10" name="Confirm">
            <button class="button button5">5</button>
        </div>
        <div class="inputPadding">
            <input type="submit" value="Jokey 6    0/10" name="Confirm">
            <button class="button button6">6</button>
        </div>

    </div>
</body>
</html>



